@font-face {
  font-family: "DarumadropOne";
  src: 
    url(./assets/fonts/darumadropOne/DarumadropOne-Regular.woff) format("woff"),
    url(./assets/fonts/darumadropOne/DarumadropOne-Regular.woff2) format("woff2");
}

:root {
  --fallback-font-stack:
    system-ui, -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --color-1: #d9cbbf;
}

/* CUSTOM CSS RESET */

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
/* END OF CUSTOM CSS RESET */

/* Temporal borders */
/* body * {
  border: 1px dotted grey;
} */

body {
  background-color: #00445a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#title {
  font-family: "DarumadropOne", var(--fallback-font-stack);
  color: var(--color-1);
  text-align: center;
  font-size: 4rem;
  margin-bottom: -50px;
}

#players-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: auto;
  margin-top: -55px;
}

#players-info div {
  font-family: "DarumadropOne", var(--fallback-font-stack);
  color: var(--color-1);
}

.player-name {
  width: 200px;
  font-size: 1.5rem;
}

.player-name:last-child {
  text-align: end;
}

#turn-info {
  width: 200px;
  text-align: center;
}

#gameboard-section {
  position: relative;
  display: flex;
  justify-content: center;
  height: 600px;
}

#gameboard {
  position: absolute;
  z-index: -1;
  min-width: 600px;
  min-height: 600px;
}

#spaces-container {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 35px;
  margin-top: 76px;
  max-height: fit-content;
}

.board-space {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-space > img {
  height: 90px;
  width: 90px;
}
