@font-face {
  font-family: "DarumadropOne";
  src: 
    url(./assets/fonts/darumadropOne/DarumadropOne-Regular.woff) format("woff"),
    url(./assets/fonts/darumadropOne/DarumadropOne-Regular.woff2) format("woff2");
}

:root {
  --fallback-font-stack:
    system-ui, -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --color-1: #d9cbbf;
}

/* CUSTOM CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
/* END OF CUSTOM CSS RESET */

body {
  background-color: #00445a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body * {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#setup-game-section {
  position: relative;
  margin: auto;
  height: 600px;
  width: 600px;
  margin-top: -20px;
}

#setup-names {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-top: 270px;
}

#setup-names input {
  appearance: none;
  border: none;
  background-color: #d1c2b6;
  border: 1px solid #d1c2b6;
  font-family: "DarumadropOne", var(--fallback-font-stack);
  border-radius: 10px;
  text-align: center;
  width: 17ch;
}

#setup-names input:focus {
  outline: none;
  border: 1px solid #8a8077;
}

#edit-players-info {
  display: flex;
  justify-content: center;
  font-family: "DarumadropOne", var(--fallback-font-stack);
  color: #556c8d;
}

#setup-game-section div:has(button) {
  display: flex;
  justify-content: center;
}

#setup-game-section button {
  line-height: 1.5rem;
  padding-bottom: 20px;
  margin-top: 30px;
  font-size: 5rem;
  font-family: "DarumadropOne", var(--fallback-font-stack);
  background-color: var(--color-1);
  color: #1e1e1e;
  border: none;
}

#setup-game-section button:hover {
  color: #b6873b;
}

#setup-game-section img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

#gameboard-section {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 600px;
  margin-bottom: 40px;
  margin-top: -20px;
}

#win-modal {
  position: absolute;
  top: 207px;
  left: auto;
  height: 170px;
  width: 170px;
  background-color: #26211a;
  color: #edaf4b;
  font-family: "DarumadropOne", var(--fallback-font-stack);
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#win-modal div:last-child {
  width: 160px;
  text-align: center;
  line-height: 1.5rem;
  padding-bottom: 20px;
  font-size: 2.5rem;
}

#gameboard {
  position: absolute;
  top: 0;
  left: auto;
  z-index: -1;
}

#spaces-container {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 35px;
  margin-top: 76px;
  max-height: fit-content;
}

.board-space {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-space > img {
  height: 90px;
  width: 90px;
}

#game-info {
  margin-top: -60px;
  min-width: 530px;
  margin: 0 20px;
}

#players-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 530px;
  margin: auto;
}

#players-info div {
  font-family: "DarumadropOne", var(--fallback-font-stack);
  color: var(--color-1);
}

.player-name {
  font-size: 1rem;
  width: 140px;
}

#player1-name-info::before {
  content: "X ";
  color: #ff0000;
}

#player2-name-info::before {
  content: "O ";
  color: #6b9cff;
}

#player2-name-info {
  text-align: end;
}

#turn-info {
  width: 200px;
  line-height: 1.5rem;
  font-size: 1.8rem;
  text-align: center;
}

#turn-info.highlight {
  color: #eac95e;
}

#game-buttons-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#game-buttons-container button {
  height: 40px;
  width: 260px;
  font-family: "DarumadropOne", var(--fallback-font-stack);
  color: var(--color-1);
  background-color: #00516c;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding-bottom: 5px;
}

#game-buttons-container button:hover {
  background-color: #1e1e1e;
  color: #b6873b;
}

.hidden,
.hidden * {
  display: none !important;
}
